$beatColor: #698fa4;
$currentBeatColor: #87dc74;
$selectedBeatColor: #f9f4b0;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

 .beat {
   height: 40px;
   width: 40px;
   background-color: $beatColor;
   border-radius: 8px;
   margin: 5px;
   cursor: pointer;
 }

.beat:nth-child(4n+2){
  background-color: lighten( $beatColor, 20% );
}

 .beat-grid {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 100%
 }

.current-beat {
  border-color: $currentBeatColor;
  border-width: 3px;
  border-style: solid;
  margin: 2px;
}
.selected-beat {
  background-color: $selectedBeatColor;
  box-shadow: 0 0 10px rgba(255,255,255,0.7);
  transition: background-color 0.1s ease-in;
}

.selected-beat:nth-child(4n+2){
  background-color: lighten( $selectedBeatColor, 20% );
}

.inline {
  display: inline-block;
}

.controls button {
  border: none;
  background: #00bb39;
  border-radius: 3;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  max-width: 85%;
  font-size: 0.8em;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

.row-label {
  font-size: 0.8em;
  min-width: 60px;
  text-align: right;
  margin-right: 10px;
}
